<%- include("partials/header.ejs") %>

<div class="newListContainer">

  <h1 class="newListHeaders">Create New List</h1>

  <form action="/newList" method="POST" id="newList" class="createList" autocomplete="off">
    <input type="text" name="newListName" id="newListName" placeholder="New List Name" class="newListInputs" autofocus="true" required>
    <button type="submit" name="newListBtn" class="newListBtn">Create List</button>
  </form>

  <%- include("partials/footer.ejs") %>

</div>