<%- include("partials/header.ejs") %>

<div class="register">

  <h1 class="headerRegister">Sign Up</h1>

  <div class="registerFormContainer">

    <form action="/register" method="POST" class="registerForm" onsubmit="return validate()">
     <input type="text" name="username" id="username" placeholder="Email (Required)" required="true" autofocus="true" class="registerInputs">
     <input type="password" name="password" id="password" placeholder="Password (Required)" required="true" class="registerInputs">
     <div class="showPass"><span class="showPassBtn" onclick="showPass()">Show Password </span></div>
     <% if (errorMessage) { %>
      <p class="errorMessage"><%= errorMessage %></p>
     <% } %>
     <button type="submit" class="signUpBtn">Sign Up</button>
   </form>

   <a href="/login" class="alrLogged">Already have an account? Log In</a>

   <button type="button" class="login-with-google-btn" >
     <a href="/auth/google" class="googleBtn">Sign Up With Google</a>
   </button>
  </div>

  <script>
    function showPass(){
      var pass = document.getElementById("password");
      if(pass.type === "password") {
        pass.type = "text";
      } else {
        pass.type = "password";
      }
    }

    function validate(){

    var mail = document.getElementById("username").value;

    var regx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

    if(!regx.test(mail)) {
      alert("Invalid email");
      return false;
    }
  }
  </script>

  <%- include("partials/footer.ejs") %>

</div>